.loading {
  text-align: center;
  padding: 20px;
}

.error {
  color: red;
  text-align: center;
  padding: 20px;
}

.empty {
  text-align: center;
  color: #0cf332;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr  ));
  gap: 25px;
  padding: 20px 0;
}

.productCard {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #f5f3f1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.productCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(221, 119, 216, 0.509);
}

.productName {
  margin: 0 0 10px 0;
  color: #9a4c9e;
  font-size: 18px;
  font-weight: 600;
}

.productDescription {
  color: #666;
  font-size: 14px;
  margin: 0 0 15px 0;
  flex: 1;
}

.productPrice {
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  margin: 5px 0 15px 0;
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 8px;
}

.imagePlaceholder {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bd8585;
  margin-bottom: 15px;
  border-radius: 5px;
}

.controlsContainer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.quantityControls {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 12px;
}

.quantityButton {
  width: 33px;
  height: 20px;
  border: 1px solid #000000;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.quantityButton:hover {
  background: #ffffff;
  border-color: #9a4c9e;
}

.quantityDisplay {
  font-weight: bold;
  min-width: 5px;
  text-align: center;
  font-size: 15px;
  color: #000000;
}

.addToCartButton {
  padding: 12px;
  background: #f700ff43;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.2s ease;
}
.addToCartButton:hover {
  background: #f700ff84;
  color: white;
}