.productos {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #2f4f4f;
  font-family: 'Georgia', serif;
}

.categoria {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #2f4f4f;
  font-family: 'Georgia', serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Georgia', serif;
}